<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<!--日志配置部分-->
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="Encoding" value="utf-8" />
			<file value="log\" />
			<appendToFile value="true" />
			<!--模式改为混合-->
			<rollingStyle value="Composite" />
			<!--按天保存日志-->
			<datePattern value="/yyyy-MM-dd/&quot;user.log&quot;" />
			<!--保留文件扩展名-->
			<preserveLogFileNameExtension value="true" />
			<staticLogFileName value="false" />
			<!-- -1不限制个数 -->
			<maxSizeRollBackups value="-1" />
			<!-- 每个文件的最大大小 -->
			<maximumFileSize value="50MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
			<!--多线程写入支持-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ColoredConsoleAppender" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
	<appSettings>
		<add key="AppName" value="分布式电源接入单元台体服务程序"/>
		<add key="Version" value="V1.0"/>
		<add key="SqlStr" value="Data Source=.\\Database\\SystemDb.db;Mode=ReadWriteCreate;"/>
		<add key="defaultschemeid" value="-1"/>
		<add key="PowerStyle" value="MTE1801V4"/>
		<add key="MeterNum" value="12"/>
		<add key="ComParamter" value="COM1-19200-n-8-1"/>
		<add key="MeterUb" value="220"/>
		<add key="MeterFreq" value="50"/>
		<add key="tbURanges" value="57,100,220,380"/>
		<add key="tbIRanges" value=""/>
		<add key="JY1IP" value="10.50.10.173"/>
		<add key="JY1Port" value="10000"/>
		<add key="JY1Addr" value="254"/>
		<add key="JY1Num" value="16"/>
		<add key="JY2IP" value="10.50.10.172"/>
		<add key="JY2Port" value="10000"/>
		<add key="JY2Addr" value="254"/>
		<add key="JY2Num" value="16"/>
		<add key="edtFreq" value="1"/>
		<add key="GHCom" value="COM2-9600-n-8-1"/>
	</appSettings>
</configuration>